Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

EditorUIScaleCustomization/*
Content/MAEOakForest/Textures/Environments*
Content/MAEOakForest/Textures/Terrain*

*/RiderLink/*
.idea/