Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

EditorUIScaleCustomization/*
Content/MAEOakForest/Textures/Environments/Trees*
Content/MAEOakForest/Textures/Environments/Rocks*
Content/MAEOakForest/Textures/Environments/Groundplants*
Content/MAEOakForest/Textures/Environments/Covers*

*/RiderLink/*
.idea/